<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<script>
$(document).ready(function(){

        $(document).bind('ajaxStart', function(){
                $("#actionArea").hide();
                $('#loading-image').show();
        }).bind('ajaxComplete', function(){
                $("#actionArea").show();
                $('#loading-image').hide();
        });        


    $("button").click(function(){         
         var Vurl =  "/getdata?" + "fromDate=" + $("#fromDate").val() + "&toDate=" + $("#toDate").val() ;              
           
            $.ajax({ 
                url :Vurl,          
                timeout: 9000000,
                async: false ,
                success:function(response) {
                        console.log(response)
                   // var htmlContent = response.data;
                   //   var  ResultsObj = (JSON.parse(response));
                    $('#dataTable').html('');  
                    $('#totalRecordsSpan').show();
                    $("#dataTable").show();  

                    $.each(response , function(i , item ){
                        
                         $('#dataTable').append( (i+1)  +"  : "+item.link);  
                         $('#dataTable').append("<br/>")
                    });

                    $('#totalRecordsSpan').text(  response.length + "records found !!!!!");                      
                
                },
                complete: function(){
                         
                }, 
                error: function (error) {
                    console.log(error)
                }                     
        });
    });

 
        function callNodeUrl(item){       
        $.ajax({
                url: "/callNodeUrl?nodeUrl="+item,
                success:function(response) {
                var data =response;
                $("#dataTable").append("<a target='_blank' href='https://www.localgov.ie"+item+"'"
                                +'class="btn btn-info" role="button">Link Button</a>');
                $("#dataTable").append( data);
                $("#dataTable").append('<hr style="height:1px;border:none;color:#333;background-color:#333;" /> ');    

                },
                error: function (error) {
                        console.log(error)
                }    
        });
        }

 
});
</script>

</head>

<body class="container"> 
<img id="loading-image" src="https://goo.gl/KyGYT2" style="display: none; width:100%;">
<div id="actionArea">
    <br/>
    <table class="table table-bordered ">
           

            <tr>
                    <td> 
                            From Data
                    </td>
                    <td>
                            <input id="fromDate" type="date"   value="2017-10-01" >
                    </td>                     
            </tr>
            <tr>
                    <td> 
                            To Data
                    </td>
                    <td>
                            <input id="toDate" type="date"   value="2017-10-03" >
                    </td>                     
            </tr>

    </table>
    
    <br/>  

    <button  type="button" class="btn btn-success"> Download Data</button>
    <hr/>        
    <span id="totalRecordsSpan"  class="label label-info"  style="display:none"></span>
    <hr/>  
    <div id="dataTable" style="display:none">
        <br/><br/>
    </div>
</div>
</body>

<script>
       function doThisWhenTheHashChanges(e){
               
              $(document).unbind('ajaxStart');
              
                var Vurl =  location.hash.split("#")[1];
           
            $.ajax({ 
                url :Vurl,                 
                success:function(response) {
                   // var htmlContent = response.data;
                   // var top10ResultsObj = (JSON.parse(response));                    
                    var parentDiv =  $( 'a[href*="' +location.hash + '"]').closest("div.accordion-body") ;
                    $(parentDiv).html(response).append("<hr/>");
                },
                complete: function(){
                        
                },
                error: function (error) {
                    console.log(error)
                }                     
        });

       }

</script>
<script>
                window.addEventListener("hashchange", doThisWhenTheHashChanges, false);
</script>

</html>