<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script>
$(document).ready(function(){
    $("button").click(function(){
       // var Vurl =  "/getdata?" + "fromDate=" + $("#fromDate").val() ;              
            $.ajax({ 
                url :"/getdata",                 
                success:function(data) {

                    console.log(data)     
                    $('#dataTable').html('');  
                    $("#dataTable").show();            
                    $(data).each(function( i,item ) {
                        console.log(  $.trim( item) )
                        var row = $('<tr><td>Title :</td><td>'+ item.title +'</td></tr>'); //create row
                        $('#dataTable').append(row);
                    })
                },
                error: function (error) {
                    console.log(error)
                }                     
        });
    });
});
</script>

</head>

<body class="container"> 
    <br/>
    <table class="table table-bordered ">
           

            <tr>
                    <td> 
                            From Data
                    </td>
                    <td>
                            <input id="fromDate" type="text"   >
                    </td>                     
            </tr>
            <tr>
                    <td> 
                            To Data
                    </td>
                    <td>
                            <input id="toDate" type="text"   >
                    </td>                     
            </tr>

    </table>
    
    <br/>  

    <button  type="button" class="btn btn-success"> Download Data</button>

    <hr/>

    <table id="dataTable" style="display:none" class="table table-bordered ">
            
    </table>

</body>

</html>