<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script>
$(document).ready(function(){


    $("button").click(function(){
         var Vurl =  "/getdata?" + "fromDate=" + $("#fromDate").val() + "&toDate=" + $("#toDate").val() ;              
         console.log(Vurl)
            $.ajax({ 
                url :Vurl,                 
                success:function(response) {
                   // var htmlContent = response.data;
                   // var top10ResultsObj = (JSON.parse(response));
                    $('#dataTable').html('');  
                    $('#totalRecordsSpan').show();
                    $("#dataTable").show();  
                    $('#dataTable').html(response.sectionArr);  
                    $('#totalRecordsSpan').text(response.totalRecords + "  Records Found !!!");  
                   console.log(response);
                
                },
                error: function (error) {
                    console.log(error)
                }                     
        });
    });

 
function callNodeUrl(item){       
$.ajax({
        url: "/callNodeUrl?nodeUrl="+item,
        success:function(response) {
        var data =response;
        $("#dataTable").append("<a target='_blank' href='https://www.localgov.ie"+item+"'"
                        +'class="btn btn-info" role="button">Link Button</a>');
        $("#dataTable").append( data);
        $("#dataTable").append('<hr style="height:1px;border:none;color:#333;background-color:#333;" /> ');    

        },
        error: function (error) {
                console.log(error)
        }    
});
}


});
</script>

</head>

<body class="container"> 
    <br/>
    <table class="table table-bordered ">
           

            <tr>
                    <td> 
                            From Data
                    </td>
                    <td>
                            <input id="fromDate" type="date"  placeholder="01/10/2017" >
                    </td>                     
            </tr>
            <tr>
                    <td> 
                            To Data
                    </td>
                    <td>
                            <input id="toDate" type="date"   placeholder="01/10/2017" >
                    </td>                     
            </tr>

    </table>
    
    <br/>  

    <button  type="button" class="btn btn-success"> Download Data</button>
    <hr/>        
    <span id="totalRecordsSpan"  class="label label-info"  style="display:none"></span>
    <hr/>  
    <div id="dataTable" style="display:none"></div>

</body>

</html>